@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dropdown {
  @apply appearance-none bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggZD0iTSAwIDAgbCAxMCAweiIvPjwvc3ZnPg==');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.custom-dropdown::-ms-expand {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #330867;
  background-color: #fffdfdb2;
}

